# HTTPS certificates are issued automatically by Let's Encrypt.
{
	email {$ACME_EMAIL}
}

{$DOMAIN} {
	encode zstd gzip
	reverse_proxy storefront:8000
}

www.{$DOMAIN} {
	redir https://{$DOMAIN}{uri} permanent
}

api.{$DOMAIN} {
	encode zstd gzip
	request_body {
		max_size 20MB
	}
	reverse_proxy backend:9000
}
